.appvide{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.appcanvas{
  position: absolute;
  /* top: 100px */
}

.myapp{
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
}

.btn{
  position: relative;
  bottom: 100px;
  background-color: transparent;
  color:white;
  font-size: 50px;
  padding: 0px;

}

.btn:hover{
  border: none;
}